h1 {
    color: rgba(116, 79, 15, 0.836);
    padding: 30px;
    margin-top: 20%;
    margin: 40px 40px 40px 40px;
    border: 10px solid black;
    transition: ease-in-out 5s;
    
    hover {
    border: 10px solid black;
    }

    @media screen and (min-width: 600px) {
        
            color: rgb(0, 0, 0);
            padding: 30px;
            width: 100%;
            margin: 0;
            border: 10px solid white;
        
    }



}




